/*Header section*/
a:hover {
    background-color: skyblue;
}

.img-cover {
    height: 500px;
    filter: brightness(60%);
}

footer a {
    font-size: 22px;
    color: white;
    margin-left: 17px;
}